
{% extends "base.html" %} {% load static %} {% block contain %}
<header>
  <div class="d-flex justify-content-center p-5 Header">
    <div>
      <h1>Car</h1>
      <p class="d-flex justify-content-center align-items-center">
        A car is a vehicle that has wheels, carries a small number of passengers, and is moved by an engine or a motor. Cars are also called automobiles or motor vehicles. Trucks and buses are motor vehicles as well. However, trucks and buses are larger than cars, and they carry heavier loads.

        It is hard for anyone today to imagine what life was like before there were cars. Cars and other motor vehicles have made it easy for people to travel within a city or across a continent. They have also influenced where people live. People once had to live near their jobs, but now they can live farther away and drive to work.
        
        Yet cars and other motor vehicles have brought problems as well. Tens of thousands of people are killed or injured each year in traffic accidents. Cities are often congested with huge traffic jams. And gasoline is a limited resource that pollutes the atmosphere when burned as fuel
      </p>
    </div>
    <div>
      <img class="headerImage" src="{% static "image/uzzal.jpg" %}"
      alt="">
    </div>
  </div>
</header>
<div class="CategoryButton">
  {% for cat in category %}
  <a  href="{% url "FilterCategory" cat.slug %}">{{cat.CategoryName}}</a>
  {% endfor %}
</div>
<div class="px-4">
  <h1>Total Car: {{ Brand | length }}</h1>
</div>
<div class="col-12">
  <div class="d-flex flex-lg-wrap g-5 justify-content-center">
    {% for car in Brand %}
  <div class="card m-3" style="width: 18rem;">
    <img src="{{car.image.url}}" class="card-img-top" alt="Car Photo">
    <div class="card-body">
      <h4 class="card-title">Model: {{car.name}}</h4>
      <h4 class="card-title">Price: ${{car.price}}</h4>
      <h4 class="card-title">Brand: {{car.brand.CategoryName}}</h4>
      <a href="{% url "carDetails" slug=car.slug %}" class="btn btn-primary">Details</a>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock contain %}
