{% extends "base.html" %} {% block contain %} {% load static %}
<div class="about_info">
  <div class="res_logo">
    <img src="{% static "image/download.png" %}" alt="">
  </div>
  <div>
    <h3>Grandiose Restaurant</h3>
    <p>
      Grandiose Restaurant has garnered high praise from patrons for its stellar
      service, with many highlighting the staff's commitment to creating a
      memorable dining experience. The culinary offerings are a hit among
      guests, who often commend the mouthwatering, authentic flavors of the
      local cuisine. The restaurant's elegant ambiance is consistently
      celebrated, adding a special touch to each visit. Additionally, diners
      feel they receive exceptional value, enjoying a fusion of exquisite dishes
      and top-notch service.
    </p>
  </div>
</div>
{% endblock contain %}
