{% extends "base.html" %}

{% block contain %}
{% load static %}
<div class="middle_info">
    <div class="middle_title">
        <h1>Grandiose Restaurant</h1>
        <p>
            With a contemporary yet elegant setting sprawled over a space of 8,500 sq. ft., the Grandiose Restaurant is the nation's largest multi-cuisine 5-star class restaurant located at Dhaka Regency Hotel & Resort, allowing plenty of privacy to all our patrons. Grandiose Restaurant offers all day dining and an innovative, seasonal menu. Over 101 Buffet dishes comprise of Italian, Mediterranean, Japanese, Thai, Chinese, South Asian and Bangladeshi cuisines. Savor our Fresh house-made pastas, meat dishes, seafood, pastries, gelatos and a variety of European & Arabic desserts. The First Day of Bengali Year, Mother's Day & Women's Day special dining, Ramadan Iftar followed by Dinner, Valentine's Day Special Buffet, Friendship Day, Pitha Utshab, Halloween Special Buffet are to name just a few of the events that we celebrate with splendo
        </p>
    </div>
    <div class="middle_img">
        <img src="{% static "image/uzzal.jpg" %}" alt="">
    </div>
</div>
{% endblock contain %}